@font-face {
	font-family: Corrupter;
	src: url('Corrupter.ttf');
}
body {
	background: #333;
	cursor:url("https://raw.githubusercontent.com/crumbaugh/Lantern/master/twlSite/cursor.png"), auto;
}
#title {
	top: 50%;
	margin-top: -80px;
	width: 100%;
	position: absolute;
}
h1{
	color: #111;
	font-family: Corrupter;
	font-size: 80px;
	text-align: center;
	@include transform( translateZ(0) );
	@include text-shadow(3px 3px 0px rgba(196, 23, 83, 0.1) );
	@include single-transition(text-shadow, 20ms);
	-webkit-text-stroke: 1px rgba(196, 23, 83, 0.5);
}
h2 {
	font-family: calibri;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	cursor: pointer;
	border: 1px solid #ffff9b;
	color: #ffff9b;
	width: 80px;
	height: 30px;
	font-weight: normal;
	padding: 5px 10px;
	transition: color 1s ease;
	transition: border 1s ease;
}
h2:hover {
	color: #ff0;
	border: 1px solid #ff0;
	transition: color 1s ease;
	transition: border 1s ease;
}
